################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/SMU05-Uebung/v15
/SMU05-Uebung/bin/Debug
/SMU05-Uebung/obj/Debug
